<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Request Payment</h2>
      <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <h4>Address</h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <strong><%- coinpunk.wallet.getAddressName(data.address) %></strong><br>
      <strong><%- data.address %></strong>
    </div>
    
    <h4>Amount</h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <input id="amount" onchange="coinpunk.controllers.addresses.drawRequestQR('<%- data.address %>')" placeholder="0.00" style="width: 80px"> BTC
    </div>
    <h4>Label</h4>
    <div style="margin-top: 10px; margin-bottom: 10px">
      <input id="label" onchange="coinpunk.controllers.addresses.drawRequestQR('<%- data.address %>')" placeholder="Description" style="width: 300px"> <small>(optional)</small>
    </div>
  </div>
  <div class="col-lg-4 col-lg-offset-1 text-center">
    <div id="qrcode"></div>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-lg-12 text-center">
    <a href="#/addresses/list" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left"></i> Back<a>
  </div>
</div>