development:
  database: 'sqlite3://localhost/coinpunk'
  session_secret: TYPESOMETHINGUNIQUEHERE
  bitcoind_rpcuser: YOURUSERNAME
  bitcoind_rpcpassword: YOURPASSWORD
test:
  database: 'sqlite3://localhost/coinpunk'
  session_secret: TYPESOMETHINGUNIQUEHERE
  bitcoind_rpcuser: YOURUSERNAME
  bitcoind_rpcpassword: YOURPASSWORD
production:
  database: 'sqlite3://localhost/coinpunk'
  session_secret: TYPESOMETHINGUNIQUEHERE
  bitcoind_rpcuser: YOURUSERNAME
  bitcoind_rpcpassword: YOURPASSWORD