<script>
  $(document).ready(function() {
    var payload = coinpunk.wallet.encryptPayload();
    $('#walletPayload').html(payload);
  });
</script>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Backup Entire Wallet</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h4>To backup your entire wallet, you can copy and paste it into a text file, which can be printed out.</h4>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <h2>Text of Backup</h2>
    <pre>
    <div id="walletPayload" style="color: #DD1144; padding-left: 30px; padding-right: 30px;"></div>
    </pre>
  </div>
</div>

<div class="row text-center" style="margin-top: 30px">
  <div class="col-lg-12">
    <a href="#/dashboard" class="btn btn-large btn-info">Back</a>
  </div>
</div>