<script>
  $(document).ready(function() {
    var payload = coinpunk.wallet.encryptPayload();
    $('#walletPayload').html(payload);
  });
</script>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Backup Entire Wallet</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h4>To backup your entire wallet, you can copy and paste it into a text file, which can be printed out.</h4>
    <h5>This data is encrypted and requires your password to unlock. <strong style="color: #FF0000">Do not forget your password.</strong> Write it down somewhere if you have to.</h5>
    <h5>Note: This output will change when re-encrypted due to randomization of the seed. This is normal.</h5>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <h2>Text of Backup</h2>
    <pre id="walletPayload" style="color: #DD1144; padding-left: 30px; padding-right: 30px;"></pre>
    <a href="#/backup/download" class="btn btn-lg btn-primary" onclick="">Download</a>
  </div>
</div>

<div class="row text-center" style="margin-top: 30px">
  <div class="col-lg-12">
    <a href="#/dashboard" class="btn btn-lg btn-info">Back</a>
  </div>
</div>