<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Backup</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h4>To backup your entire wallet, you can download it here.</h4>
    <h5>This wallet is encrypted and requires your password to unlock. <strong style="color: #FF0000">Do not forget your password.</strong> Write it down somewhere if you have to.</h5>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <h2>Backup Wallet</h2>
    <a href="#/backup/download" class="btn btn-lg btn-primary" onclick="#"><i class="fa fa-download"></i> Download</a>
  </div>
</div>