<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Buy Bitcoins</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h2 class="text-center">Cash Into Coins</h2>
    <p>Cash Into Coins provides a way to purchase Bitcoins using a bank account. Follow the instructions on their site, and they will send the purchased Bitcoins directly to your Coinpunk wallet!</p>
    
    <p class="text-center">
      <a href="http://go.cashintocoins.com/UCPiJr?address=<%- coinpunk.wallet.addressHashes()[0] %>" target="_blank" class="btn btn-lg btn-success"><i class="fa fa-money"></i> Buy Bitcoins Now</a>
    </p>
  </div>
</div>