<div class="row">
  <div class="span8">
    <h1>Dashboard</h1>
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h2><span id="balance"></span> BTC <small style="margin-left: 10px"><span id="balanceExchange"></span></small></h2>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <p><span id="exchangePrice"><span></p>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="sentTransactions"></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="receivedTransactions"></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="addresses"></div>
  </div>
</div>

<div class="row text-center">
  <div class="span12">
    <a href="#/backup" class="btn btn-large btn-info">Backup Wallet</a>
  </div>
</div>