<div class="row">
  <div class="span12">
    <h1>Dashboard</h1>
    
    <a href="#/signout">Signout</a>
    
    <div class="row">
      <div class="span12">
        <div id="transactions"></div>
      </div>
    </div>
  </div>
</div>