<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#/signin">Coinpunk</a>
    
    <ul class="nav pull-right">
      <% if(sessionStorage.getItem('walletId')) { %>
        <li class="navbar-text"><strong style="color: #7AB800"><%= sessionStorage.getItem('walletId') %></strong></li>
      <% } %>
      
      <% if(sessionStorage.getItem('walletKey')) { %>
        <li><a href="#/signout">Signout</a></li>
      <% } %>
    </ul>
  </div>
</div>