<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#/signin">Coinpunk</a>
    
    <ul class="nav pull-right">
      <li class="navbar-text"><strong style="color: #7AB800"></strong></li>
    </ul>
  </div>
</div>