<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/" class="navbar-brand">Coinpunk</a>
  </div>
  <nav class="collapse navbar-collapse" role="navigation" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <% if(coinpunk.database.loggedIn()) { %>
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/tx/send">Send</a></li>
        <li class="hidden-xs hidden-sm"><a href="#/backup">Backup</a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(coinpunk.database.loggedIn()) { %>
        <li><a href="#/account/settings"><strong><%- coinpunk.database.getWalletId() %></strong></a></li>
        <li><a href="#/signout">Signout</a></li>
      <% } else { %>
        <li><a href="#/signup">Signup</a></li>
      <% } %>
    </ul>
  </nav>
</header>

<% var successMessage = coinpunk.database.getSuccessMessage(); %>
<% if(successMessage) { %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= successMessage %>
  </div>
<% } %>