<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/" class="navbar-brand">Coinpunk</a>
  </div>
  <nav class="collapse navbar-collapse" role="navigation" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <% if(coinpunk.wallet) { %>
        <li><a href="#/dashboard"><i class="fa fa-bars"></i> Transactions</a></li>
        <li><a href="#/addresses/list"><i class="fa fa-arrow-down"></i> Receive</a></li>
        <li><a href="#/tx/send"><i class="fa fa-arrow-up"></i> Send</a></li>
        <li><a href="#/buy"><i class="fa fa-money"></i> Buy Bitcoins</a></li>
        <li class="hidden-xs hidden-sm"><a href="#/backup"><i class="fa fa-download"></i> Backup</a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(coinpunk.wallet) { %>
        <li><a href="#/account/settings"><strong><i class="fa fa-user"></i> <%- coinpunk.wallet.walletId %></strong></a></li>
        <li><a href="#/signout"><i class="fa fa-sign-out"></i> Signout</a></li>
      <% } else { %>
        <li><a href="#/signup"><i class="fa fa-sign-in"></i> Signup</a></li>
      <% } %>
    </ul>
  </nav>
</header>
