<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#/">Coinpunk</a>
    
    <ul class="nav pull-right">
      <% if(coinpunk.database.loggedIn()) { %>
        <li class="navbar-text"><strong style="color: #7AB800"><%= coinpunk.database.getWalletId() %></strong></li>
        <li><a href="#/signout">Signout</a></li>
      <% } %>
    </ul>
  </div>
</div>