<div class="row">
  <div class="span12">
    <h1>New Wallet</h1>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3><font color="red">IMPORTANT</font> password information:</h3>
    <h5>Your data is being encrypted in a way that the server cannot spend your Bitcoin wallet money. If you lose your password, there is no way to reset it.</h5>
    <h4><strong>Losing your password is like losing your real-life wallet. You will lose your bitcoins, <u>forever</u></strong>.<br><u>Remember your password</u>.<h4>
    <h5>Your password must also be a minimum of 10 characters. If you're making a new password, write it down somewhere. You will likely forget it if you don't.</h5>
  </div>
  
  <div class="row" style="padding-top: 20px">
    <div class="span5 offset1">
      <div id="errors" class="alert alert-error hidden"></div>
    </div>

    <div class="span5 offset1">
      <form action="#" onsubmit="return false;" autocomplete="off" autocapitalize="off">
    
        <div>
          <input id="email" type="email" placeholder="Your email">
        </div>

        <div>
          <input id="password" name="password" type="password" placeholder="Create a password" autocomplete="off" onfocus="coinpunk.controllers.accounts.passwordStrength.enable()">
        </div>
    
        <div id="passwordStrengthStatus"></div>
    
        <div class="progress progress-info progress-striped" style="width: 250px;">
          <div id="progressBar" class="bar" style="width: 0%"></div>
        </div>
    
        <div>
          <input id="password_confirm" type="password" placeholder="Confirm your password" autocomplete="off" onfocus="coinpunk.controllers.accounts.passwordStrength.enable()">
        </div>
    
        <div>
          <button id="createAccountButton" class="btn btn-large btn-success" href="#" style="margin-top: 10px" onclick="coinpunk.controllers.accounts.create(); return false">Create Account</button>
        </div>
    
      </form>
    </div>
  </div>
</div>