<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Sign In</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-4 col-lg-3">
    <div id="errors" class="alert alert-error hidden"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-offset-3 col-lg-8">
    <form class="form-horizontal" action="#" onsubmit="coinpunk.controllers.accounts.signin(); return false;" autocomplete="off" autocapitalize="off">
      <div class="form-group">
        <label for="walletId" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-4">
          <input type="text" class="form-control" id="walletId" autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="Your email">
        </div>
      </div>
      <div class="form-group" id="signinPassword">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
          <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
        </div>
      </div>
      <!--
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-4">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      -->
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-sign-in"></i> Sign in</button>
          <div style="margin-top:40px">
            <h2>New User?</h2>
            <h3><a href="#/signup" class="btn btn-lg btn-primary"><i class="fa fa-user"></i> Sign up</a></h3>
          </div>
          
          <div style="margin-top:30px">
            <h4>Importing a Coinpunk wallet?</h4>
            <h4><a href="#/accounts/import" class="btn btn-primary">Import</a></h4>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
