<div class="row">
  <div class="span4 offset4">
    <h1>Coinpunk</h1>
    <form>
      <fieldset>
        <input type="text" placeholder="Your email">
        <input type="text" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn btn-large btn-success" style="margin-bottom: 10px">Sign In</button>
        <div><a href="#/signup">I don't have an account yet.</a></div>
      </fieldset>
    </form>
  </div>
</div>