<h2>Transactions</h2>

<% if(transactions.length == 0) {%>

  <h4>No transactions yet.</h4>

<% } else { %>

  <% for(var i=0; i<transactions.length; i++) { %>
    <%= transactions[i] %>
  <% } %>

<% } %>