<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Send Bitcoins</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>derp</h1>
    <form action="#" onsubmit="">
      <fieldset>
        <hr>
        <label>Bitcoin or email address to send to:</label>
        <input type="text" placeholder="Bitcoin or email address">
        <span class="help-block">If you send to an e-mail, your browser will generate a new wallet for the user with the payment, which they can claim by going to the server and setting a password on it.</span>
        
        <label>Amount:</label>
        <input type="text" placeholder="0.00" style="width: 70px"> BTC
        
        <label>Comments:</label>
        <textarea name="comment"></textarea>
        <span class="help-block">Here you can enter any information about this transaction so you can keep track of it.</span>
        
        <input type="submit" class="btn btn-info btn-large" value="Send">
    </form>
  </div>
</div>